<div class="login-container">
  <div class="image-section">
    <img [src]="imageURL" alt="Interview illustration" />
  </div>

  <div class="form-section">
    <div class="about-app">
      <h1>AI Mock Interview Platform</h1>
      <p>Prepare for your dream job with AI-powered mock interviews.Get personalized feedback, real-time analysis, and improve your communication skills all from the comfort of your home.</p>
    </div>

    <h2>Welcome Back</h2>
    <p>Please log in to your account</p>

    <form (submit)="onLogin()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" required />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <div class="password-wrapper">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            [(ngModel)]="password"
            name="password"
            required
          />
          <i
            class="bi"
            [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
            (click)="togglePassword()"
          ></i>
        </div>
      </div>

      <button type="submit">Login</button>
    </form>

    <p class="signup-link">Don’t have an account? <a routerLink="/signup">Sign up here</a></p>
  </div>
</div>
